# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build

# IDE
.vscode
.idea

# Logs
logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# Test
coverage
.nyc_output

# Docs
*.md
!README.md

# Misc
.DS_Store
*.tgz
*.swp
*.swo
*~